.background {
 background: repeating-linear-gradient(330deg, #6F7983,  #0c1f36, #4d4d4d, #0d0a18, #707479,  #637181, rgb(51, 40, 68), #74b5be, #76638a);
 background-size: 1400% 1400%;
 animation: backgroundgradient 20s ease-in-out infinite;
 z-index: 0;
 width: 100% ;
 height: 100vh;
 display: flex ;
 text-align: center;
 flex-direction: column;
 justify-content: space-evenly;
}

@keyframes backgroundgradient {
 0%{background-position:0% 50%}
 25%{background-position: 25% 75%}
 50%{background-position:100% 50%}
 100%{background-position:0% 50%}
}

@keyframes button-gradient {
 0%{background-position:0% 50%}
 25%{background-position: 50% 75%}
 50%{background-position:100% 50%}
 100%{background-position:0% 50%}
}


.title {
 opacity: 1;
 color: #63314c;
 font-size: 130%;
 font-weight: 700;
 display: flex;
 flex-direction: column;
 letter-spacing: 1.5px ;
 font-family: 'Bungee Shade';
 text-shadow: 0px 34px #74b5be;
}

.title2 {
 opacity: 1;
 color: #63314c;
 font-size: 130%;
 display: flex;
 justify-content: center;
 font-weight: 700;
 letter-spacing: 1.5px ;
 font-family: 'Bungee Shade';
 text-shadow: 0px 34px #74b5be;
}

.enter-button {
 opacity: 0.4;
font-size: 3rem;
 font-family: 'Bungee Shade';
 color: #231e2c;
 height: 4.5rem;
 border: 1px solid rgba(245, 245, 220, 0.02);
 width: 100%;
 border: 1px inset gainsboro ;
 border-left: none;
 border-right: none;
 padding-top: 1.75%;
 padding-bottom: 0.2%;
 align-self: center;
 align-items: center;
 align-content: center;
text-decoration: none;
text-shadow: -125px 0px 0px rgba(113, 109, 159, 0.96), 125px 0px #61dafb;
 background: repeating-linear-gradient(200deg, rgba(77, 37, 193, 0.32), rgba(20, 215, 221, 0.36), rgba(176, 105, 73, 0.39), rgba(13, 10, 24, 0.22), #707479,  #637181, rgb(51, 40, 68), #74b5be, #76638a);
 background-size: 1400% 1400%;
 animation: backgroundgradient 50s ease-in-out infinite;
}

.enter-button:focus {outline:0;}



.title3 {
 opacity: 0.3;
 color: #63575e;
 font-size: 90%;
 display: inline-block;
 font-weight: 700;
 margin-top: 4rem;
 letter-spacing: 10px ;
 font-family: 'Bungee Shade';
 text-shadow: 0px -99px #63beac;
}