.background {
 background: repeating-linear-gradient(330deg, #6F7983,  #0c1f36, #4d4d4d, #0d0a18, #707479,  #637181, rgb(51, 40, 68), #74b5be, #544d5c);
 background-size: 1400% 1400%;
 animation: AnimationName 20s ease-in-out infinite;
 z-index: 0;
}

@keyframes AnimationName {
 0%{background-position:0% 50%}
 25%{background-position: 25% 75%}
 50%{background-position:100% 50%}
 100%{background-position:0% 50%}
}

.overlay {
 background: linear-gradient(rgb(212, 208, 208));
 opacity: 0.7;
}

.title {
 opacity: 1;
 color: #503a3a;
 font-size: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-style: bold;
 /* border: 3px solid white ; */
 width: 100%;
 font-weight: 700;
 letter-spacing: 3px ;
 font-family: 'Bungee Shade';
 text-shadow: 0px 44px #74b5be;
}

.title2 {
 position: absolute;
 left: 0px;
 opacity: 0.88;
 height: 50vh;
 display: flex;
 justify-content: center;
 align-items: center;
 top: 34px ;
 width: 100% ;
 color:  #d6b3e4;
 font-size: 40px;
 font-style: bold;
 letter-spacing: 3px ;
 font-family: 'Bungee Shade';
 text-shadow: 0px 44px #8eabbe;
} 

.button-div {
 position: absolute;
 top: 0;
 left: 0 ;
 height: 3rem;
 width: 100% ;
 height: 100% ;
 display: flex;
 justify-content: center;
 align-items: center;
}

.enter-button {
 height: 7rem ;
 z-index: 4;;
 width: 100% ;
 text-align: center;
 font-size: 4rem;
 border: none ;
 opacity: 0.7;
 border-block-color: #6f6f6f;
 color: rgba(254, 255, 251, 0.548);
 background: none ;
 font-family: 'Bungee Shade';
 margin-bottom: 154px ;
box-shadow: 50px 50px 50px 50px #6F7983, rgb(149, 202, 255, 0.3);
}
.enter-button:hover {
 box-shadow: 5px 12px 16px 5px rgba(173, 120, 209, 0.452), 3px 17px 50px 3px rgba(122, 110, 110, 0.486);
 background: repeating-linear-gradient(240deg, #6F7983,  #0c1f36, #4d4d4d, #0d0a18, #707479,  #637181, rgb(51, 40, 68), #a9aaaa, #544a5f);
  background-size: 1400% 1400%;
  animation: AnimationName 20s ease-in-out infinite;
}
