/* .single-tab {
    margin-top: 10px;
    margin-bottom: 2.5px;
    width: 10.5rem;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-radius: 0% 5% 0% 0%;
} */

.icon-style {
    margin-top: 10px;
    margin-bottom: 2.5px;
    width: 10.5rem;
    border-bottom: none;
    border-left: 0px solid white;
    border-bottom-width: 2px;
}