.App {
  text-align: center;
}

html {
 font-size: 62.5%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
 * {
  height: 100vh;
  box-sizing: border-box;
 }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.background {
 background: repeating-linear-gradient(330deg, #6F7983,  #0c1f36, #4d4d4d, #0d0a18, #707479,  #637181, rgb(51, 40, 68), #74b5be, #544d5c);
 background-size: 1400% 1400%;
 animation: AnimationName 20s ease-in-out infinite;
 z-index: 0;
 font-size: 62.5%;
}

@keyframes AnimationName {
 0%{background-position:0% 50%}
 25%{background-position: 25% 75%}
 50%{background-position:100% 50%}
 100%{background-position:0% 50%}
}

.overlay {
 background: linear-gradient(rgb(212, 208, 208));
 opacity: 0.7;
}

.title {
 opacity: 1;
 color: #503a3a;
 display: flex;
 justify-content: center;
 align-items: center;
 font-style: bold;
 font-size: 3rem ;
 /* border: 3px solid white ; */
 width: 100%;
 font-weight: 700;
 letter-spacing: 3px ;
 font-family: 'Bungee Shade';
 text-shadow: 0px 44px #74b5be;
}

.title2 {
 position: absolute;
 left: 0px;
 opacity: 0.88;
 height: 50vh;
 display: flex;
 justify-content: center;
 align-items: center;
 top: 34px ;
 font-size: 3rem ;
 width: 100% ;
 color:  #d6b3e4;
 font-style: bold;
 letter-spacing: 3px ;
 font-family: 'Bungee Shade';
 text-shadow: 0px 44px #8eabbe;
} 

.button-div {
 position: absolute;
 top: 0;
 left: 0 ;
 height: 3rem;
 width: 100% ;
 height: 100% ;
 display: flex;
 justify-content: center;
 align-items: center;
}

.enter-button {
 height: 7rem ;
 z-index: 4;;
 width: 20% ;
 text-align: center;
 opacity: 0.9;
 /* border: outset 2px solid #4d4d4d1a ; */
 font-size: 3rem ;
 color: rgba(230, 230, 230, 0.678);
 background: none ;
 border: none ;
 border-radius: 10px 50px 10px 50px;
 font-family: 'Bungee Shade';
 margin-bottom: 154px ;
 box-shadow: 0px 0px 0px 8px rgba(83, 76, 114, 0.521);
}
.enter-button:hover {
 /* box-shadow:  rgba(3, 3, 3, 0.452), 3px 17px 10px 5px rgba(122, 110, 110, 0.486); */
 background: repeating-linear-gradient(-330deg, #6F7983,  #0c1f36, #4d4d4d, #0d0a18, #707479,  #637181, rgb(51, 40, 68), #a9aaaa, #544a5f);
  background-size: 1400% 1400%;
  animation: AnimationName 20s ease-in-out infinite;
}

.enter-button:focus {outline:0;}